@using PagedList;
@using PagedList.Mvc;

@model IPagedList<VideoClub.Core.Entities.User>

@{
    ViewBag.Title = "Πελάτες";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>@ViewBag.Title</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col" style="white-space:nowrap">IUsername</th>
            <th scope="col" style="white-space:nowrap">Όνομα</th>
            <th scope="col" style="white-space:nowrap">Επώνυμο</th>
            <th scope="col" style="white-space:nowrap">Ενεργές Κρατήσεις</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-default">
                <td>
                    @Html.ActionLink(item.UserName, "rentings", new { customer = item.UserName })
                </td>
                <td>
                    @Html.DisplayFor(m => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(m => item.LastName)
                </td>
                <td>
                    @if (item.Rentings.Count() == 0)
                    {
                        <div style="color:red">
                            @item.Rentings.Count()
                        </div>
                    }
                    else
                    {
                        <div style="color:green">
                            @item.Rentings.Count()
                        </div>
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-dark" onclick="location.href='@Url.Action("create", "rentings", new { area="rentings", customer = item.UserName })'">></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("", new { page }))
