@using PagedList;
@using PagedList.Mvc;

@model IPagedList<VideoClub.Web.Areas.Rentings.Models.RentingViewModel>
@{
    ViewBag.Title = "Κρατήσεις";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>@ViewBag.Title: <span class="ui-icon-link text-muted">@ViewBag.Customer</span></h2>

<table class="table">
    @if (Model.Count() > 0)
    {
        <thead>
            <tr>
                <th></th>
                <th>Τίτλος</th>
                <th style="text-align:center">ID Κόπιας</th>
                <th style="text-align:center">Ημ. Επιστροφής</th>
                <th style="text-align:center">Κατάσταση</th>
                <th>Σχόλια Κρ.</th>
                <th>Σχόλια Επ.</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
    }
    <tbody>
        @foreach (var item in Model)
        {

            <tr id="@item.Id" class="table-default">
                <td>
                    @if (item.Poster != null)
                    {
                        <img src=@item.Poster alt="Artwork" style="height:50px;width:auto" />
                    }
                    else
                    {
                        <img src="~/Content/images/poster_not_available.png" alt="Artwork" style="height:50px;width:auto" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(m => item.Copy.Movie.Title)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(m => item.Copy.Id)
                </td>
                <td style="text-align:center">
                    @if (DateTime.Compare(item.ScheduledReturnDate, DateTime.UtcNow) < 0 && item.IsActive)
                    {
                        <div style="color:red">
                            @item.ReturnDate.ToString("dd/MM/yyyy")
                        </div>
                    }
                    else
                    {
                        <div style="color:green">
                            @item.ReturnDate.ToString("dd/MM/yyyy")
                        </div>
                    }

                </td>
                <td style="text-align:center">
                    @if (!item.IsActive)
                    {
                        <div class="text-muted">
                            Μη Ενεργή
                        </div>
                    }
                    else
                    {
                        <div style="color:green">
                            Ενεργή
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(m => item.RentingNotes)
                </td>
                <td>
                    @Html.DisplayFor(m => item.ReturnNotes)
                </td>
                @if (item.IsActive)
                {
                    <td>
                        @Html.ActionLink("<", "return", "rentings", new { area = "rentings", rentingId = item.Id }, new { style = "float:right", @class = "btn btn-warning", type = "button" })
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-return-renting" data-rentingId="@item.Id" data-rentingMovie="@item.Copy.Movie.Title" data-rentingUser="@item.User.UserName">x</button>
                    </td>
                }
            </tr>

        }
    </tbody>
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("rentings", new { customer = ViewBag.Customer, page }))

