@{
    ViewData["ApplicationName"] = "VideoClub";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @ViewData["ApplicationName"]</title>
    <link rel="icon" href="~/Content/icons/movies.png">
    @Styles.Render("~/Content/jquery-ui")
    @Styles.Render("~/Content/selectize")
    @Styles.Render("~/Content/css")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark ">

        <div class="container">
            @Html.ActionLink("VideoClub", "index", "movies", new { area = "movies" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @Html.Partial("_AdminMenuPartial")
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content" style="padding:65px">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @ViewData["ApplicationName"]</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/selectize")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>

