@using PagedList;
@using PagedList.Mvc;

@model IPagedList<VideoClub.Core.Entities.Renting>
@{
    ViewBag.Title = "Ενεργές Κρατήσεις";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<h2>@ViewBag.Title</h2>


<table class="table">
    @if (Model.Count() > 0)
    {
        <thead>
            <tr>
                <th style="white-space:nowrap">Τίτλος</th>
                <th style="white-space:nowrap">ID Κόπιας</th>
                <th style="white-space:nowrap">Πελάτης</th>
                <th style="white-space:nowrap">Ημερομηνία Επιστροφής</th>
                <th style="white-space:nowrap">Σχόλια</th>
                <th></th>
            </tr>
        </thead>
    }
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="table-default">
                <td>
                    @Html.DisplayFor(m => item.Copy.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Copy.Id)
                </td>
                <td>
                    @Html.ActionLink(item.User.UserName, "rentings", "customers", new { area = "customers", customer = item.User.UserName }, null)
                </td>
                <td>
                    @if (DateTime.Compare(item.ReturnDate, DateTime.Now) < 0)
                    {
                        <div style="color:red">
                            @item.ReturnDate.ToString("dd/MM/yyyy")
                        </div>
                    }
                    else
                    {
                        <div style="color:green">
                            @item.ReturnDate.ToString("dd/MM/yyyy")
                        </div>
                    }

                </td>
                <td>
                    @Html.DisplayFor(m => item.RentingNotes)
                </td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("return", "rentings", new { rentingId = item.Id })'">>|</button>
                </td>
            </tr>

        }
    </tbody>
</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("", new { page }))


